* {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}
body {
    background-color: rgb(1, 22, 39);
    height: max(100dvh, 50rem);
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    position: fixed;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    a {
        text-decoration: none;
        color: white;
        font-size: 1.25rem;
        font-weight: 700;
        background-color: rgb(8, 41, 60);
        border: 2px solid transparent;
        border-radius: 1rem;
        padding: 0.75rem 1rem;
        display: flex;
        align-items: center;
        img {
            width: 2rem;
            height: 2rem;
        }
    }
    a:hover {
        border: 2px solid darkslategrey;
    }
}
main {
    height: 100%;
    width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#description {
    width: 100%;
    color: white;
    text-align: center;
    padding: 0 1.5rem;
    margin-bottom: 4rem;
    h1 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
    p {
        font-size: 1.25rem;
        font-weight: 700;
        color: rgb(150, 150, 150);
    }
}
#promptBar {
    position: relative;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    #modalVerb {
        border-radius: 1rem 0 0 1rem;
        background-color: rgb(8, 41, 60);
        color: white;
        font-weight: 700;
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
    }
}
#promptAlert {
    position: absolute;
    bottom: 5rem;
    visibility: hidden;
    opacity: 0;
    p {
        color: rgb(200, 200, 200);
        background-color: rgb(8, 41, 60);
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        border: 2px solid darkslategrey;
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
#userPrompt {
    border: 0;
    outline: 0;
    height: 100%;
    width: 70%;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0 1rem;
    border: 0px solid transparent;
    color: black;
}
#startProcess {
    border: 0;
    outline: 0;
    border-radius: 0 1rem 1rem 0;
    background-color: #ec5c41;
    color: white;
    width: 15%;
    height: 100%;
    font-size: 1.25rem;
    font-weight: 700;
}
#startProcess:hover {
    background-color: #9b3b2b;
}
#startProcess:active {
    background-color: #ec5c41;
    transition-duration: 50ms;
}
#speedSelector {
    position: relative;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 2%;
    div {
        .mode {
            position: relative;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            font-weight: 700;
            padding: 0.5rem 1.2rem;
            color: white;
            border-radius: 1rem;
            border: 2px solid transparent;
            z-index: 1;
        }
        .mode:hover {
            border: 2px solid darkslategrey;
        }
        .mode:hover .context {
            visibility: visible;
            opacity: 1;
        }
    }
}
#highlight {
    position: absolute;
    height: 2.5rem; /* matches .mode height */
    background: rgb(8, 41, 60);
    border-radius: 1rem;
    z-index: 0;
}
.context {
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    text-align: center;
    padding: 1rem;
    background-color: rgb(8, 41, 60);
    color: rgb(200, 200, 200);
    border-radius: 1rem;
    opacity: 0;
    visibility: hidden;
}
#process {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45rem;
    height: 0;
    border-radius: 1rem;
    background-color: rgb(8, 41, 60);
}
#resultBox {
    position: absolute;
    background-color: #2e8b57;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: white;
    padding: 5%;
    opacity: 0;
    height: 100%;
    width: 100%;
    scale: 0;
}
#refresh {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem 2rem;
    background-color: rgb(8, 41, 60);
    border: 2px solid transparent;
    border-radius: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    align-self: flex-end;
}
#refresh:hover {
    border: 2px solid white;
}
#refresh:active {
    background-color: rgb(13, 69, 99);
    transition-duration: 50ms;
}
#progressDisplay {
    height: 80%;
    width: 80%;
    border-left: 4px solid darkslategrey;
    border-right: 4px solid darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#positiveProgress,
#negativeProgress {
    width: 100%;
    height: 50%;
    padding: 0 2%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    gap: 1.5%;
}
.progressBoxes {
    height: 80%;
    background-color: #2e8b57;
    border-radius: 1rem;
    animation: superposition 250ms linear infinite alternate;
}
@keyframes superposition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes processEnd {
    0% {
        scale: 0;
        opacity: 0;
        color: #2e8b57;
    }
    100% {
        scale: 1;
        opacity: 1;
        color: white;
    }
}
@media (max-width: 100rem) {
    html {
        font-size: 12px;
    }
}
@media (max-width: 50rem) {
    html {
        font-size: 9px;
    }
    #promptBar {
        height: 5rem;
    }
    #speedSelector {
        height: 5rem;
    }
}
@media (max-width: 25rem) {
    html {
        font-size: 8px;
    }
    #promptBar {
        height: 5rem;
    }
    #speedSelector {
        height: 5rem;
    }
}
